<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Developer List</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>


<body>
	<div class="container">

		<div class="row">
			<div class="col-md-6">

				<h2 style="text-align: center">Developers List</h2>
			</div>

		</div>
		<div class="row">
		
			<div class="col-md-4 search-active">
				<fieldset class="form-group">

					<input type="text" class="form-control search-etenderid searchname"
						placeholder="Search  By Programming Language ">

				</fieldset>
			</div>
			<div class="col-md-4 search-active">
				<fieldset class="form-group ">

					<input type="text"
						class="form-control search-institution searchname"
						placeholder="Search  by Language">

				</fieldset>
			</div>
			<div class="col-md-4 search-active">
				<fieldset class="form-group ">

					<input type="text"
						class="form-control search-second-language searchname"
						placeholder="Search  by Another Programming Language">

				</fieldset>
			</div>
			


		</div>
		<br />

		<div class="row">
			<div class="col-md-=12 developer-list">
				<table class="table table-bordered" th:fragment="developer-list">
					<thead>
						<tr>

							<th>Developer name</th>
							<th>Programming Language</th>
							<th>Languages</th>
							


						</tr>

					</thead>
					<tbody th:if="${#lists.isEmpty(developerList)}">
						<tr>

							<td colspan="3" style="text-align: center">No Developers to
								show</td>
						</tr>

					</tbody>

					<tbody>
						<tr th:each="developer : ${developerList}">
							<td th:text="${developer.email}"></td>
							<td><span
								th:each="proglanguage : ${developer.programmingLanguages}">
									<span th:text="${proglanguage.name}"></span>,

							</span></td>
							<td><span th:each="language : ${developer.languages}">
									<span th:text="${language.code}"></span>,

							</span></td>
							

						</tr>


					</tbody>

				</table>

			</div>
		</div>



	</div>
</body>

<script th:inline="javascript">


function searchActiveEmployeeByOfficecodeByDepartment(searchName)
{
	var languagename = $('.search-institution').val(); 
	
	var proglanguagename= $('.search-etenderid').val(); 
	var secondlanguage = $('.search-second-language').val(); 
	
	//console.log(companyId+" "+departmentId+" "+officeCodeId);
	
	 $.ajax({
		  type: 'post',
		  url: /*[[ @{'/api/developer/search'} ]]*/,
		  data:  { languagename:languagename,proglanguagename:proglanguagename,secondlanguage:secondlanguage },
		  success: function(data){
			  console.log(data);
			  $('.developer-list').html(data);
			  
			  
			},
		  async:false
		});
	
	
	
}

$('.searchname').on("keypress",function(e){
	
	 var key = e.which;
	 if(key == 13)  // the enter key code
	  {
		 searchActiveEmployeeByOfficecodeByDepartment();
		
		
	  }
})





</script>


</html>